<div class="col-md-4 col-md-offset-4">
	<div class="prospect-show">
	
    <h2>Edit </h2>
    
    <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <%= f.input :advisor_first_name, required: true, autofocus: true, label: 'First Name' %>
        <%= f.input :advisor_last_name, required: true, label: 'Last Name'  %>
        <%= f.input :advisor_phone, label: 'Phone'  %>
        <%= f.input :advisor_mobile, label: 'Mobile'  %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, autocomplete: "off", required: false %>
        <%= f.input :password_confirmation, required: false %>

        <% if current_user.admin %>
          Admin&#63; <%= f.check_box :admin? %> &nbsp; | &nbsp; Manager&#63; <%= f.check_box :manager? %> &nbsp; | &nbsp; Suport&#63; <%= f.check_box :support? %>
        <% end %>
        
        <p>&nbsp;</p>
        
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Update", class:"btn btn-info btn-block" %>
      </div>
      
    <% end %>
    
    <p>&nbsp;</p>
		<div class="links">
  		<%= link_to "Back", :back, class: "btn btn-default" %>
      <%= link_to "Cancel my account", root_path, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
    </div>
    
    
  </div>
</div>