<% if current_user.manager || current_user.support %>
  <div class="col-md-4 col-md-offset-4">
  	<div class="prospect-show">
      <table>
        <tr>
          <td colspan="2"><h4><%= @user.advisor_first_name + ' ' + @user.advisor_last_name %></h4></td>
        </tr>
          <td>Phone:</td><td><%= @user.advisor_phone %></td>
        </tr>
        <tr>
          <td>Mobile:</td><td><%= @user.advisor_mobile %></td>    
        </tr>
          <td>Email:</td><td><%= @user.email %></td>
        </tr>
      </table>
  
  		<div class="links">
  			<%= link_to "Back", users_path, class: "btn btn-info" %>
  			<%= link_to "Edit User", edit_user_path(@user), class: "btn btn-warning" %>
        <%= link_to "Delete", root_path, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  		</div>
    </div>
  </div>
<% end %>