<% est_ap = 0 %>
<% act_ap = 0 %>
<% sm_conv = 0 %>

<div class="col-md-12">
	<center>
		<%= form_tag(prospects_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
			<%= submit_tag "Search", class:"btn btn-info" %>
		<% end %>
	</center>
	<br>

	<div class="prospect-show table-responsive">
		
		<h2>Listing
			<% if current_user.manager %>
 				<%= @prospects.count %> Prospects</h2>
			<% else %>
				All
			<% end %>
		Prospects</h2>			
		
		<table class="table index-table table-condensed">
		  <thead>
		    <tr>
		      <th>Consultant</th>
		      <th>Prospect</th>
		      <th>Intro<br>Presentation</th>
		      <th>Estimated<br>Annual AP</th>
		      <th>Supplier Match<br>Received</th>
		      <th>Actual AP</th>
		      <th>SM Conversion<br>$ Estimate</th>
		      <th>%<br>Converted</th>
		      <th>SM & Demo<br>Presentation</th>
		      <th>Deal 
		      	<div class="status">
			      	<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></a>
							  <ul class="dropdown-menu" style="list-style: none;">
							    <li><%= link_to "All", prospects_path %></li>
							    <% @status.each do |a| %>
							      <li class="black"><%= link_to "#{a.status}", prospects_path(status: a.status) %></li>
							    <% end %>
							  </ul>
							</li>
						</div>
					</th>
		      <th>Agreement<br>Date</th>
		    </tr>
		  </thead>
			
		  <tbody class="bordered">
				<% @prospects.each do |prospect| %>
					<% if (prospect.user_id == current_user.id) || current_user.manager %>
				    <tr>
				      <td class="td-left"><%= prospect.user.advisor_first_name + ' ' + prospect.user.advisor_last_name %></td>
				      <td class="td-left"><strong><%= link_to prospect.organization, prospect %></strong></td>
				      <td><% if !prospect.intro_presentation_date.nil? %>
				      		<%= prospect.intro_presentation_date.strftime("%m/%d/%Y") %>
				      		<% end %></td>
				      <td><%= number_to_currency(prospect.estimated_ap, precision: 0) %></td>
				      <td><% if !prospect.sm_received_date.nil? %>
				      		<%= prospect.sm_received_date.strftime("%m/%d/%Y") %>
				      		<% end %></td>
				      <td><%= number_to_currency(prospect.actual_ap, precision: 0) %></td>
				      <td><%= number_to_currency(prospect.sm_conversion_est, precision: 0) %></td>
				      <td><% if (prospect.sm_conversion_est / prospect.actual_ap) > 0.00001 %>
				      		<%= number_to_percentage((prospect.sm_conversion_est / prospect.actual_ap)*100, precision: 1) %>
				      		<% end %></td>
				      <td><% if !prospect.sm_presentation_date.nil? %>
				      		<%= prospect.sm_presentation_date.strftime("%m/%d/%Y") %>
				      		<% end %></td>
				      <td><%= prospect.status %></td>
				      <td><% if !prospect.agreement_date.nil? %>
				      		<%= prospect.agreement_date.strftime("%m/%d/%Y") %>
				      		<% end %></td>
				      </td>
				    </tr>
					<% end %>
					<% est_ap = est_ap + prospect.estimated_ap %>
					<% act_ap = act_ap + prospect.actual_ap %>
					<% sm_conv = sm_conv + prospect.sm_conversion_est %>
				<% end %>
		  </tbody>
		  <tfoot>		  
				<tr>
					<td>Total</td>
					<td></td>
					<td></td>
					<td><%= number_to_currency(est_ap, precision: 0) %></td>
					<td></td>
					<td><%= number_to_currency(act_ap, precision: 0) %></td>
					<td><%= number_to_currency(sm_conv, precision: 0) %></td>
		      <td><% if (sm_conv / act_ap) > 0.00001 %>
		      		<%= number_to_percentage((sm_conv / act_ap)*100, precision: 1) %>
		      		<% end %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		  </tfoot>
		</table>
		<%= link_to "Add New Prospect", new_prospect_path, class: "btn btn-primary btn-lg" %>
	</div>
</div>