<div class="col-md-6 col-md-offset-3">
	<div class="prospect-show">
		<h3><%= @prospect.organization %></h3>
		<p class="prospect-posted-by">Posted by <%= @prospect.user.advisor_first_name + ' ' +
		@prospect.user.advisor_last_name %> <%= time_ago_in_words(@prospect.created_at) %> ago  
		and last updated <%= time_ago_in_words(@prospect.updated_at) %> ago.</p>
		
		<p>
		  <% if @prospect.status == "Intro Presentation Conducted" ||
		        @prospect.status == "SM / Demo Conducted" ||
		        @prospect.status == "No Sale" %>
		    <div class="alert alert-danger"><strong>IMPORTANT MESSAGE:</strong><br>
		    <em>Please update the status of this prospect. "<strong><%= @prospect.status  %></strong>" is no longer a valid status.</em></div>
		  <% end %>
		</p>
		
		<table align="center">
		  <tr>
		    <td width="350" valign="top">
		      <%= @prospect.street_address %><% if !@prospect.address2.nil? %>, <%= @prospect.address2 %><% end %><br>
        	<%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %><br>
        	<%= @prospect.phone %><br>
        	<%= @prospect.website %><br>
        	Employees: <%= @prospect.employees %><br>
			    Annual Revenue: <%= number_to_currency(@prospect.revenue, precision: 0) %><br>
        	Using VC for AP Now? <% if @prospect.vc_already == true %> Yes <% else %> No <% end %>
		    </td>
		    
		    <td width="100">&nbsp;</td>
		    
		    <td width="350" valign="top">
		      <% if !@prospect.contact1_first_name.nil? %>
          <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %><br>
          Title: <%= @prospect.contact1_title %><br>
          Phone: <%= @prospect.contact1_phone %><br>
          Mobile: <%= @prospect.contact1_mobile %><br>
          <%= @prospect.contact1_email %><br>
          <% end %>
          <br>
		      <% if !@prospect.contact2_first_name.nil? %>
          <%= @prospect.contact2_first_name %> <%= @prospect.contact2_last_name %><br>
          Title: <%= @prospect.contact2_title %><br>
          Phone: <%= @prospect.contact2_phone %><br>
          Mobile: <%= @prospect.contact2_mobile %><br>
          Email: <%= @prospect.contact2_email %><br>
          <% end %>
		    </td>
		  </tr>
		</table>
		
		<table>
		  <tr>
		    <td>&nbsp;</td>
		  </tr>
		  <tr>
		    <td>Other: <%= @prospect.prospect_note %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		  </tr>
		  
		</table>
  	
  	<table>
  	  <tr>
  	    <td width="350" valign="top">
  	      Intro Pres Date: <% if !@prospect.intro_presentation_date.nil? %>
				  <%= @prospect.intro_presentation_date.strftime("%m/%d/%Y") %><% end %><br>
				  Intro Presented by: <%= @prospect.intro_presenter %><br>
			    Est Annual AP: <%= number_to_currency(@prospect.estimated_ap, precision: 0) %><br>
  	      SM Data Received Date: <% if !@prospect.sm_received_date.nil? %>
				  <%= @prospect.sm_received_date.strftime("%m/%d/%Y") %><% end %>
  	    </td>
  	     
  	     <td width="100"></td>
  	     
  	    <td width="350" valign="top">
          Actual Annual AP: <%= number_to_currency(@prospect.actual_ap, precision: 0) %><br>
          SM Conversion Est: <%= number_to_currency(@prospect.sm_conversion_est, precision: 0) %><br>
          Conversion Percentage: <% if (@prospect.sm_conversion_est / @prospect.actual_ap) > 0.00001 %>
  		    <%= number_to_percentage((@prospect.sm_conversion_est / @prospect.actual_ap)*100, precision: 1) %><% end %><br>    
  	       
        </td>
  	  </tr>
  	</table>
    <p>&nbsp;</p>
  	<table>
  	  <tr>
  	    <td width="350" valign="top">
  	      SM Pres Date: <% if !@prospect.sm_presentation_date.nil? %>
				  <%= @prospect.sm_presentation_date.strftime("%m/%d/%Y") %><% end %><br>
				  SM Presented by: <%= @prospect.sm_presenter %><br>
  	    </td>
  	     
        <td width="100"></td>
  	     
  	    <td width="350" valign="top">
  	      Proposed Close Date/<br>
  	      Kickoff Call Date: <% if !@prospect.close_date.nil? %>
				  <%= @prospect.close_date.strftime("%m/%d/%Y") %><% end %>
  	      Agreement Date: <% if !@prospect.agreement_date.nil? %>
				  <%= @prospect.agreement_date.strftime("%m/%d/%Y") %><% end %>	
  	     </td>
        </td>
  	  </tr>
  	</table>
  	
		<table>
		  <tr>
		    <td>References Provided: 
		      <% if @prospect.references_given == true %>
	          YES
	        <% else %>
	          NO
	        <% end %> 
        </td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		  </tr>
		  <tr>
		    <td><h4>Status: <%= @prospect.status %></h4></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		  </tr>
		</table>

		<hr>

		<p><%= render @prospect.comments %></p>

		<%= render 'comments/form' %>

		<div class="links">
			<%= link_to "Back", root_path, class: "btn btn-info" %>
			<%= link_to "Edit & More Fields", edit_prospect_path(@prospect), class: "btn btn-warning" %>
			<%= link_to "Delete", prospect_path(@prospect), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
		</div>
	</div>
</div>