<!-- Application Designed by IntelaTek Inc.
On behalf of Blue Coast Savings Consultants
in partnership with Kontrol Payables
January 28th 2018
Author Chris Cunningham -->

<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
      <%= link_to image_tag("kontrol-logo.png", alt: "logo"), '/', class: 'navbar-brand' %>
			<ul class="nav navbar-nav pull-right">
				<% if user_signed_in? %>
					<!--Replace links with icons when I get the chance - gear & lock-->
					<li><%= link_to "Edit", edit_user_registration_path %></1i>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>

		</div>
	</nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container-fluid">
    	<%= yield %>
    </div>
  </body>
  

  <nav class="navbar navbar-default navbar-fixed-bottom">
      <p align="center" style="color:gray;"><br>Blue Coast Savings Consultants &copy; 2018</p>
  </nav>
  
</html>